<style>
  .flash-message {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    position: fixed;
    font-size: 15px;
    z-index: 999;
  }

  .mdl-list__item--two-line {
    height: 62px;
  }
</style>
<header>
  <nav id="nav">
    <li>
      <button class="mdl-button mdl-js-button mdl-button--accent mdl-button--colored"
              onclick="javascript:location.href='#/login'">
        ログアウト
      </button>
    </li>
    <li><img class="mdl-chip__contact" src="{{vm.user.avatarImg}}"></img></li>
  </nav>
</header>
<article id="main">
  <section class="wrapper style4 container">
    <div class="row 150%">

      <div class="left-column">
        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Two Line List with secondary info and action -->
          <ul class="demo-list-two mdl-list">
            <li class="mdl-list__item mdl-list__item--two-line" ng-repeat="user in vm.allUsers">
              <span class="mdl-list__item-primary-content">
                <img class="mdl-chip__contact" src="{{user.avatarImg}}"></img>
                <span>{{user.name}}</span>
                <span class="mdl-list__item-sub-title" style="word-wrap: break-word; width: 280px;">{{user.giftStatus}}</span>
              </span>
              <span class="mdl-list__item-secondary-content" ng-if="user.name==vm.user.name">
                <span class="mdl-list__item-secondary-info">取消</span>
                <a class="mdl-list__item-secondary-action" ng-click="vm.delReservation()"><i
                    class="material-icons">delete</i></a>
              </span>
            </li>
          </ul>

        </div>
      </div>

      <div class="right-column">
        <!-- Content -->
        <div class="content">
          <section>
            <h3>ご希望のものをお選びくださいませ！</h3>
            <div ng-repeat="gift in vm.allGifts" class="card">
              <h4>＃{{$index + 1}}　{{gift.title}}　<img src="{{gift.imagesImg}}" height="25px" data-action="zoom"/></h4>
              <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title" style="background-image: url('{{gift.imagesImg}}')">
                  <h2 class="mdl-card__title-text">{{gift.title}}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  {{gift.description}}
                </div>
                <div class="mdl-button mdl-card__actions mdl-card--border" ng-click="vm.addReservation(gift.giftId)" style="cursor: hand;">
                  <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" >
                    <a class="mdl-list__item-secondary-action"><i class="material-icons">star</i></a>
                  </button>
                  欲しい
                </div>
              </div>
            </div>
            <h6>※ 画像はイメージです。</h6>
          </section>
        </div>
      </div>
    </div>
  </section>

</article>