<style>
  #footer {
    margin-top: -20px;
    background: #2b3d6b;
  }
</style>
<div id="body-login" class="container-fluid">
  <div class="col-md-4 col-md-offset-4 col-centered">
    <div class="login-panel">
      <form name="form" ng-submit="vm.login()" role="form">
        <h3 class="login-panel-title">いっらしゃいませ！</h3>
        <h4>チェン でございます。</h4>
        <div class="login-panel-section">
          <div class="form-group">
            <h4 class="login-panel-title">お名前</h4>
            <div class="input-group margin-bottom-sm"
                 ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
              <span class="input-group-addon"><i class="fa fa-gift fa-fw" aria-hidden="true"></i></span>
              <input type="text" name="name" id="name" class="form-control" ng-model="vm.name" required
                     class="form-control" placeholder="太郎">
            </div>
          </div>
        </div>
        <p class="login-panel-tagline">例：太郎さんの場合、「太郎」を入力してくださいませ.</p>
        <div class="login-panel-section">
          <button type="submit" class="btn btn-default" ng-disabled="vm.dataLoading"
                  class="btn btn-primary"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>次に
          </button>
          <img ng-if="vm.dataLoading"
               src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        </div>
      </form>
    </div>
  </div>
</div>
